:root{
    box-sizing: border-box
}
*,
::before,
::after{
    box-sizing: inherit;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.navigation{
	display: grid;
	grid-template-columns: 5% 5% 10% 60% 10% 10%;
	

	list-style-type: none;
	border-bottom: 1px solid grey;
	background-color: white;
	

}

.navigation li{
	display: inline-block;
	/* padding:5px 10px 0 10px; */
	
	
	

}
.navigation li a{
	text-decoration: none;
	color: black;

}
.nav-right {
	
	
	background-color: rgb(86, 123, 149);
	
	color: white;
	font-family: helvetica, arial, sans-serif;
	line-height: 10px;
	border-style: solid;
	border-color: rgb(50, 104, 145);
	padding: 11px 12px 8px;
	font-weight: 700;
	border-radius: 3px;
	border-width: 1px;
	white-space: nowrap;
	font-size: 11px;
	
}
#login {
	
	
	
	/* border-radius: 5px; */
	margin-right: 10px;
	border-color: rgb(50, 104, 145);
	margin-right: 10px;
	text-transform: uppercase;
	color: white;
	font-size: 11px;

}
#subscribe{
	
	
	
	/* border-radius: 5px; */
	border-color: rgb(50, 104, 145);
	margin-right: -60px;
	text-transform: uppercase;
	color: white;
}
.space{
	text-transform: uppercase;
}
.newyork{
	font-weight: bold;
	
	
}
.header{
	display: flex;
	justify-content: center;
	font-weight: bold;
}
.image{
	display: flex;
	justify-content: center;

	
}
.para p{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color:#666;
}
.author{
	display: flex;
	justify-content: center;
	margin: 0 auto;
}
/* .details ul {
	display:flex;
	justify-content: center;
	
} */
.container{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr;
	min-height: 50%;

}
.sidebar{
	

	/* margin-bottom: 0;
	border-bottom: 0.5px solid grey; */
}
.flex{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr;
}
.image-inflation{
	display: block;
	height: auto;
	max-width:100%;
}
.universe p{
	top: 24.8264%;
	left: 0.0436%;
	width: 228px;
}
.move{
	position: absolute;
}
.nextEnough p{
	top: 24.8264%;
	left: 25.5619%;
	width: 228px;

}
/* container > *{
    color: white;
    padding: 2em;
    /* border-radius: 0.5em; 
}*/
